.new-collections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
    flex-direction: column;
}

.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600px;
}

.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252535;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 50px;
    gap:30px;
}